CONFIG_ORIGIN_ALLOWED=http://localhost:3000
CONFIG_SERVICE_NAME=my-service
CONFIG_PORT=9090

CONFIG_DATABASE_LIST=sqlite
CONFIG_IS_MIGRATION=true
CONFIG_TARGET_MIGRATION_DATABASE=sqlite
CONFIG_DISPLAY_RESPONSE_ERROR=false

# Database (used when dialect=postgres or mysql)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=password
DB_NAME=mydb
DB_SSLMODE=disable
